:root {
    --primary: #292929;
    --primary-light: #505050;
    --card-primary: #428a84;
    --card-secondary: #64676b;
    --text: rgb(248, 239, 239);
}
/* Scroll bar */
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: var(--primary-light);
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

/* Setting general styles */
html {
    scroll-behavior: smooth;
}

body {
    height:100vh;
    width:100%;
}

/* Header styling to center team */
header {
    display: flex;
    justify-content: center;
    align-content: center;
    background-color: var(--card-primary);
    width:100%;
    min-height:100px;
}

header h1 {
    margin: auto 0;
    height:fit-content;
    color:var(--text);
}

main {
    height:100vh;
}

/* Assigner class that only changes display to flex */
.flex {
    display:flex;
}

.flex-around {
    justify-content: space-around;
}

/* Design for Manager Card (Present on every generated HTML file) */
.card {
    margin: 2rem 2rem;
    border: 1px solid red;
    width:350px;
    height:fit-content;
    box-shadow: 0px 5px 25px 5px rgba(0,0,0,0.49);
}

.card-header {
    color:var(--text);
    background-color: var(--card-primary);
    font-size: 1.5rem;
    padding-bottom:0.5rem;
}

.employee-name {
    width:fit-content;
    padding-left: 1rem;
}

.role {
    width:100%;
    padding-left: 2rem;
} 

.role > icon {
    padding: 0 0.5rem;
}

.card-body {
    padding: 1rem 1rem;
}

.card-list {
    padding: 0.6rem;
    background-color: var(--card-secondary);
    list-style-type: none;
    color:var(--text);
}

.card-item {
    
}
